/*style sheet for Perrigo Work Sites navigation web page*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

#app {
  width: 80%;
  height: 50vh;
  background: #333;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

#chat_container {
  flex: 9;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  padding: 15px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 1 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #dcdcdc;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #40414F;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

html, body {
  min-height: 100%;
  background: linear-gradient(to bottom, #1b5ea8, #505050 30%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin: 0;
  padding-left: 4%;
  padding-right: 4%;
}

html {
  background: #CECECE;
}

body {
  margin-left: 4%;
  margin-right: 4%;
  border-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  border-width: 8px;
}

.perrigoLogo {
  margin-top: 1%;
  margin-left: 2%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 20%;
  height: 20%;
}

#headerText {
  font-family: arial, courier, helvetica;
  font-size: 225%;
  color: white;
  text-shadow: 5px 5px 5px black;
}

header p {
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  padding-right: 24%;
  padding-top: 5%;
}

#menuOpen {
  display: block;
  visibility: visible;
  opacity: 1;
  list-style-type: none;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#menuOpen a:hover {
  transform: scale(1.3);
  opacity: 0.5;
}

#menuClosed {
  display: none;
  visibility: hidden;
  opacity: 0;
  list-style-type: none;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0;
  overflow: hidden;
}

#menuClosed img:hover {
  transform: scale(1.3);
  opacity: 0.5;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  font-family: arial, courier, helvetica;
}

.menuIcon {
  padding: 0;
  padding-top: .5em;
  padding-bottom: .5em;
}

.menuIcon img{
  height: 40%;
  width: 40%;
}


h2 {
  text-align: center;
  font-family: arial, courier, helvetica;
  font-size: 150%;
  color: white;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-bottom-style: solid;
  border-color: black;
  border-bottom-width: .3em;
  border-left-width: .1em;
  border-right-width: .1em;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

footer {
  padding-top: 5%;
  text-align: center;
  clear: both;
  color: white;
  font-family: arial, courier, helvetica;
}