@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");


/* Reset default styles */
* {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  #headerText {
    font-size: 28px;
    font-weight: bold;
  }
  
  .perrigoLogo {
    height: 125px;
    width: 125px;
    margin-right: 10px;
  }
  
  /* Chatbot container styles */
  #app {
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #chat_wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added box-shadow */
  }
  
  #chat_container {
    height: calc(70vh - 200px);
    width: 100%;
    overflow-y: auto;
    padding: 20px;
    margin-bottom: auto;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 100%;
    position: relative; /* Add this to allow positioning of the send button relative to the form */
  }
  
  textarea {
    height: 100px;
    min-width: 85%;
    max-width: 85%;
    border: none;
    border-radius: 25px;
    padding: 30px 30px 30px 30px;
    padding-right: 60px; /* Add right padding to prevent text from going under the button */
    resize: none;
    font-size: 16px;
    box-shadow: 0px 0px 20px rgba(46, 46, 46, 0.1);
    margin-right: 15px;
    position: relative; /* Add this to allow positioning of the send button relative to the textarea */
  }
  
  .buttons-container {
    position: absolute; /* Change display to position */
    top: 30%; /* Position the container in the middle vertically */
    right: 10%; /* Position the container 16px from the right */
    transform: translateY(-50%); /* Align the container vertically centered */
  }
  
  button[type="submit"] {
    background-color: #fff; /* Change the background color to white */
    border: none;
    padding: 0; /* Remove padding */
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  button[type="submit"]:focus,
  button[type="submit"]:hover {
    background-color: #f5f5f5; /* Change hover background color to a light gray */
  }
  
  button[type="submit"] img {
    width: 20px;
    height: 20px;
    fill: #1d3c5c; /* Change the fill color of the arrow to the original blue */
  }

  button#clear_button {
    background-color: #1d3c5c;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    margin: 10px, auto; /* add this to create space between buttons */
    width: 25%; /* Quarter width of the text area */
    text-align: center;
  }
  
  button#clear_chat_button:focus,
  button#clear_chat_button:hover {
    background-color: #0052a3;
  }

  #chat_history_container {
    height: calc(50vh - 150px);
    width: calc(33.33% - 200px);
    overflow-y: auto;
    padding: 20px;
    border-right: 3px solid #eee;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  button#gpt3-btn,button#gpt4-btn {
  background-color: #1d3c5c;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  margin: 10px;
  width: 15%;
  text-align: center;
  transition: background-color 0.3s;
}

button#clear_button:focus,button#clear_button:hover,button#gpt3-btn:focus,button#gpt3-btn:hover,button#gpt4-btn:focus,button#gpt4-btn:hover {
  background-color: #0052a3;
}

#button-container2 {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

.uploaded-image {
  max-width: 30%;
  max-height: 30%;
  display: block;
  margin-bottom: 8px;
}

/* Hide default file input */
#image-upload-container input[type="file"] {
  display: none;
}

image-upload-container {
  display: none;
}

/* Style the custom file upload button */
.custom-file-upload {
  background-color: #1d3c5c;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease;
  font-size: 14px; /* Add this line to match the font size of other buttons */
  margin-left: 13%;
}

.custom-file-upload:hover {
  background-color: #0052a3;
}

/* Progress percentage */
#progressPercentage {
  margin-right: 2em;
  margin-left: 1em;
}

#image-preview-container {
  position: absolute;
  bottom: 100%;
  left: 10%;
  width: 80px;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  margin-bottom: 8px;
  transform: translateX(-50%); /* Add this line to center the container horizontally */
}


#image-preview {
  max-width: 100%;
  max-height: 100%;
}

.remove-image {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ccc;
  color: white;
  font-size: 10px;
  padding: 2px 4px;
  cursor: pointer;
}
.hidden {
  display: none;
}


/* Media query for mobile devices */
@media (max-width: 767px) {

  * {
    margin: 0;
  }

  /* Adjust button and text size for textarea */
  textarea {
    font-size: 14px;
    padding: 15px 15px 15px 15px;
    padding-right: 40px;
  }

  /* Adjust font size and padding for all buttons in button-container2 */
  #button-container2 button, #button-container2 .custom-file-upload {
    font-size: 7px;
    padding: 8px 16px;
    height: 40px;
    min-width: 40px;
  }

  /* Make all buttons in button-container2 round */
  #button-container2 button, #button-container2 .custom-file-upload {
    border-radius: 18px;
    width: 60%;
  }

  /* Style button-container2 for mobile layout */
  #button-container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  
  /* Adjust font size for chat container */
  #chat_container {
    font-size: 14px;
  }

  /* Other existing styles */
  .buttons-container {
    right: 8%;
  }

  header {
    flex-wrap: wrap;
  }

  #headerText {
    font-size: 24px;
    margin-top: 10px;
  }

  .perrigoLogo {
    height: 80px;
    width: 80px;
  }

  #app {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #chat_history_container {
    width: 100%;
    height: 50px;
    border-right: none;
    border-bottom: 1px solid #eee;
  }

  #chat_wrapper {
    width: 100%;
  }

  textarea {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
    padding-right: 50px;
  }

  button#clear_button {
    width: 100%;
  }

  #clear_button {
    position: relative;
    left: 0;
    top: 0;
  }
}



  