/*style sheet for Perrigo Work Sites navigation web page*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

#app {
  width: 80%;
  height: 50vh;
  background: #333;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #dcdcdc;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #40414F;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

html, body {
  min-height: 100%;
  background: linear-gradient(to bottom, #1b5ea8, #505050 30%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin: 0;
  padding-left: 4%;
  padding-right: 4%;
}

html {
  background: #CECECE;
}

body {
  margin-left: 4%;
  margin-right: 4%;
  border-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  border-width: 8px;
}

.worksiteNavImages {
  display: inline-block;
  float: left;
  margin-right: auto;
  margin-left: auto;
  padding: 2%;
  width: 20%;
}

.worksiteNavImages:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.perrigoLogo {
  margin-top: 1%;
  margin-left: 2%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  width: 20%;
  height: 20%;
}

#headerText {
  font-family: arial, courier, helvetica;
  font-size: 225%;
  color: white;
  text-shadow: 5px 5px 5px black;
}

header p {
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  padding-right: 24%;
  padding-top: 5%;
}

#menuOpen {
  display: block;
  visibility: visible;
  opacity: 1;
  list-style-type: none;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#menuOpen a:hover {
  transform: scale(1.3);
  opacity: 0.5;
}

#menuClosed {
  display: none;
  visibility: hidden;
  opacity: 0;
  list-style-type: none;
  margin-left: 3%;
  margin-right: 3%;
  padding: 0;
  overflow: hidden;
}

#menuClosed img:hover {
  transform: scale(1.3);
  opacity: 0.5;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  font-family: arial, courier, helvetica;
}

.menuIcon {
  padding: 0;
  padding-top: .5em;
  padding-bottom: .5em;
}

.menuIcon img{
  height: 40%;
  width: 40%;
}

.buttons {
  display: inline;
  text-align: center;
  font-family: arial, courier, helvetica;
  font-size: 95%;
  padding-bottom: 5%;
  margin-bottom: 2%;
}

#b1 {
  padding: .2%;
  color: white;
  float: left;
  margin-left: 35%;
  border-style: solid;
  border-radius: 10%;
  border-width: 1.5px;
  background-color: #282828;
  box-shadow: 5px 5px 2.5px black;
}

#b1:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.5;
}

#b2 {
  padding: .2%;
  color: white;
  float: right;
  margin-right: 35%;
  border-style: solid;
  border-radius: 10%;
  border-width: 1.5px;
  background-color: #282828;
  box-shadow: 5px 5px 2.5px black;
}

#b2:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.5;
}


h2 {
  text-align: center;
  font-family: arial, courier, helvetica;
  font-size: 150%;
  color: white;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-bottom-style: solid;
  border-color: black;
  border-bottom-width: .3em;
  border-left-width: .1em;
  border-right-width: .1em;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#favBarHeading {
  padding-left: 10%;
}

#unlockImage {
  display: inline;
  float: right;
  height: 3.5%;
  width: 3.5%;
  padding-top: 2%;
  padding-right: 8%;
}

#lockImage {
  display: none;
  float: right;
  height: 3.5%;
  width: 3.5%;
  padding-top: 2%;
  padding-right: 8%;
}

.group1, .group2, .group3, .group4 {
  float: left;
  width: 35%;
  height: 35%;
  margin-bottom: .5%;
  margin-top: .5%;
  padding-left: 2%;
  padding-right: 2%;
  border-style: solid;
  border-radius: 10%;
  background-color: #7D7D7D;
  box-shadow: 10px 10px 5px black;
}

.favBar {
  float: right;
  width: 35%;
  height: 35%;
  margin-bottom: .5%;
  margin-top: .5%;
  margin-right: 32.5%;
  border-style: solid;
  border-radius: 10%;
  background-color: #7D7D7D;
  box-shadow: 10px 10px 5px black;
}

.favBar h2 {
  font-size: 100%;
}

.favBar .worksiteNavImages {
  width: 15%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-top: 0;
}

.group1, .group3 {
  margin-left: 9%;
  margin-right: 1%;
}

.group2, .group4 {
  margin-right: 9%;
  margin-left: 1%;
}

.group1Images  {
  display: inline;
}

footer {
  padding-top: 5%;
  text-align: center;
  clear: both;
  color: white;
  font-family: arial, courier, helvetica;
}

.cal {
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
  padding-top: 0;
  height: 700px;
  margin-top: 1%;
  position: relative;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-radius: 1%;
  box-shadow: 15px 15px 8px black;
}
